.jumbotron
{
	background:#9575CD;
	color:floralwhite;
	padding:70px 30px 70px 30px;
	margin:0px auto;
}
.footer
{
	background-color:#D1C4E9;
	margin:0px auto;
	padding:20px 0px 20px 0px;
}
address
{
	font-size:80%;
	margin:0px;
	color:#0f0f0f;
}
.row-content
{
	marging:0px auto;
	padding:50px 0px 50px 0px;
	border-bottom:1px ridge;
	min-height:400px;
}
row-header
{
	marging:0px auto;
	padding:0px;
}
body
{
	padding:50px 0px 0px 0px;
	z-index:0;
}
.navbar-dark
{
	background-color:#512DAB;
}
.reserve {
    width:250px;
    padding:5px;
}
.tab-content
{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:10px;
}
.corousel
{
	background: #512DAB;
}
.carousel-item
{
	height: 300px;
}
.corousel-item img
{
	position: absolute;
	top:0;
	left:0;
	min-height: 300px;
}
#Label
{
	color:black;
}
#non-smoking
{
	width: 125px;
}
.modal-header
{
background-color:#512DAB;
color: white;
}
.modal-body
{
	background-color:#c3bade;
	color:black; 
}